* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* product Info */
.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}
.product-title {
  background-color: #ececec;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px 0;
}
.container {
  background-color: #fff;
  /* background-color: red; */
}
/* .clearfix {
  contain: "";
  clear: both;
  display: block;
} */
h2 {
  position: relative;
}
h2::before {
  content: "Sale";
  text-transform: uppercase;
  background-color: #ec2f2f;
  letter-spacing: 2px;
  padding: 7px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -19px;
  left: -40px;
  /* width: 40px; */
  display: inline-block;
}
.shipping {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
  /* float: right; */
  margin-top: 8px;
}
.price {
  font-size: 22px;
  /* float: left; */
}

.more-info:link,
.more-info:hover {
  color: black;
  display: inline-block;
  margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 15px;
}
.detail-title {
  text-transform: uppercase;
  /* margin-bottom: 15px; */
  font-size: 14px;
  /* margin-top: 30px; */
}
.add-cart {
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
}

/* btn */
.add-cart:hover {
  background-color: #fff;
  color: black;
}
.boxs {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
}

.black {
  background-color: black;
}
.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}
.box:last-child {
  margin-right: 0px;
}

/* .product-description {
  clear: both;
  margin-bottom: 10px;
} */

.product-info {
  /* 825-8-250-80= 487 */
  /* width: 243px;
  float: left;
  margin-right: 30px;
  margin-top: 20px; */
}

/* .product-detail {
  width: 243px;
  float: left;
  margin-top: 30px;
} */

/* .product-img {
  float: left;
  margin-right: 40px;
} */
/* FLEXBOX */
.box-flex {
  display: flex;
  gap: 40px;
}

.product-info {
  flex: 0 0 243px;
  margin-bottom: 0;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 18px;
}
.product-description {
  margin-bottom: 10px;
}

.box {
  display: flex;
  gap: 10px;
}

.product-detail {
  flex: 1;
}

.detail-title {
  margin-top: 20px;
  margin-bottom: 24px;
}
.h4 {
  font-weight: bold;
}
.list-items {
  margin-bottom: 8px;
}
ul li:last-child {
  margin-bottom: 0;
}

/* .more-info {
  margin-bottom: 0;
} */
