* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}
.product-title {
  background-color: #ececec;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
h2 {
  position: relative;
}
h2::before {
  content: "Sale";
  text-transform: uppercase;
  background-color: #ec2f2f;
  letter-spacing: 2px;
  padding: 7px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -19px;
  left: -40px;
  /* width: 40px; */
  display: inline-block;
}
.shipping {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.price {
  font-size: 22px;
}

.more-info:link,
.more-info:hover {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}
.detail-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 14px;
  margin-top: 30px;
}
.add-cart {
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
}

/* btn */
.boxs {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
}

.black {
  background-color: black;
}
.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}
.box:last-child {
  margin-right: 0px;
}
