* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}
/* SECTIONS */
.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}
.post-header {
  margin-bottom: 50px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  width: 500px;
  padding: 50px 0;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3,
h4 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;

  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 22px;
  margin-bottom: 50px;
}
li {
  font-size: 22px;
  margin-bottom: 10px;
}

article header p {
  font-style: italic;
}
/* footer p {
  font-size: 16px;
} */

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}
#copyright {
  font-style: 16px;
}
#author {
  font-style: italic;
  font-size: 18px;
}
.releted-post {
  font-size: 18px;
  font-weight: bold;
}

.releted {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-bottom: 0;
}

li:nth-child(even) {
  /* color: aquamarine; */
}
/* This is misconception not working well */
article p:last-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline solid orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA */
.post-img {
  width: 100%;
  height: auto;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
footer p {
  color: green !important;
} */

nav {
  font-size: 18px;
  text-align: center;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 0;
  right: 0;
}

/* h1::first-letter {
  font-style: normal;
  margin-right: 5px;
} */

/* h3 + p::first-line {
  color: brown;
} */

h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  font-size: 16px;
  background-color: #ffe70e;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
